<div class="fullscreen" id="root">

  <div class="bg-blobs" aria-hidden="true">
    <div class="blob a"></div>
    <div class="blob b"></div>
    <div class="blob c"></div>
  </div>

  <div appTiltCard class="card-wrap" [attr.role]="'cardWrap.role' | translate"
    [attr.aria-label]="'cardWrap.ariaLabel' | translate">

    <select name="languages" [formControl]="currentLangControl">
      <option *ngFor="let lang of ('languages' | translate)" [value]="lang.value">{{ lang.label }}</option>
    </select>

    <div class="profile">
      <div class="avatar" id="avatar">
        <img src="assets/me.png" alt="me">
      </div>
      <div class="name" id="fullname">{{ 'profile.fullName' | translate }}</div>
      <div class="role" id="role">{{ 'profile.role' | translate }}</div>

      <div class="actions" id="actions">
        <a [key]="action.key" *ngFor="let action of ('profile.actionsList' | translate)" [appSmartLink]="action.href"
          class="btn" [id]="action.id">
          <fa-icon class="icon" size="lg" [icon]="action.icon"></fa-icon>
          {{ action.label }}
          <kbd>{{ action.key }}</kbd>
        </a>
      </div>

      <div class="meta">
        <div id="now" aria-live="polite">
          <!-- <fa-icon icon="clock"></fa-icon> -->
          {{ (dateTime$ | async) | titlecase }}
        </div>
      </div>

    </div>

    <div class="main">
      <div class="headline">
        <div>
          <div class="title" id="heroTitle">{{ 'main.heroTitle' | translate }}</div>
          <div id="heroSubtitle">{{ 'main.heroSubtitle' | translate }}</div>
        </div>
      </div>
      <div class="links-grid" id="linksGrid">
        <div appCardLink *ngFor="let linkCard of ('main.linkCardsList' | translate)" class="link-card"
          [attr.data-href]="linkCard.href" tabindex="0">
          <h4>{{ linkCard.title }}</h4>
          <p>{{ linkCard.summary }}</p>
        </div>
      </div>

      <div class="meta">
        <div>{{ 'main.meta' | translate }}</div>
        <div>{{ 'main.hint' | translate }}</div>
      </div>
    </div>
  </div>
</div>